.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5;
    margin-top: 0.5;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    box-shadow: 0 0 10px var(--color-lighter-grey);
    border-radius: 1rem;
    list-style-type: none;
    margin: 2rem 3rem 3rem 3rem;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-lighter-grey);
}

.list li:last-child {
    border: none;
}

.list li img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 3rem;
}

.list li .name {
    font-size: 1.2rem;
    font-weight: 500;
}

.list li .name:active {
    color: var(--color-light-blue);
}

.list li .brand {
    font-size: 1rem;
    font-weight: 200;
    color: var(--color-grey);
    position: relative;
    top: -1rem;
}

.list li div {
    padding: 1rem;
}

.list li div:not(:first-child) {
    flex-basis: 18%;
}

.list li .quantityButton {
    display: inline-block;
    font-size: 1rem;
    margin: 4px;
    padding: 0 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--color-light-blue);
    color: var(--color-white);
}

.list li .quantityButton:hover {
    background-color: var(--color-dark-blue);
}


input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.list li .quantityInput {
    width: 2rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 200;
}

.list li .quantityInput:hover{
    cursor: pointer;
    box-shadow: 0 0 10px var(--color-lighter-grey);
}

.list .remove_button {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    color: var(--color-red);
    outline: none;
    font-weight: bold;
}

.list .remove_button:hover {
    cursor: pointer;
    background-color: var(--color-red);
    color: var(--color-white);
}

.checkout {
    display: flex;
    flex-direction: column;
    flex: 1 3;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    box-shadow: 0 0 10px var(--color-lighter-grey);
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 2rem 2rem 0 0;
}

.checkout > div {
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

.checkout .items_count {
    margin-bottom: 1.5rem;
  }
  
  .checkout .items_count::before {
    content: 'Count: ';
    color: var(--color-grey);
  }
  
  .checkout .total_price::before {
    content: 'Price: ';
    color: var(--color-grey);
    font-weight: 500;
  }
  
  .checkout a {
    padding: 1rem;
    color: var(--color-white);
    background: var(--color-dark-blue);
    display: block;
    width: 80%;
    border-radius: 2rem;
    text-align: center;
    justify-self: center;
    margin-bottom: 1rem;
  }
  
  .checkout a:hover {
    background: var(--color-light-blue);
    cursor: pointer;
  }