.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.details {
    width: 28rem;
}

.details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}